<p-growl [(value)]="msgs"></p-growl>

<form class="form-horizontal" novalidate (ngSubmit)="login()" [formGroup]="loginForm">
    <fieldset>

        <div class="form-group" [ngClass]="{'has-error': (loginForm.get('email').touched || loginForm.get('email').dirty) && !loginForm.get('email').valid }">
            <label class="col-md-4 control-label" for="emailId2">Email Address</label>

            <div class="col-md-7">
                <input class="form-control" id="emailId2" type="text" placeholder="Email Address (required)" formControlName="email" />

            </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': (loginForm.get('password').touched || 
                                              loginForm.get('password').dirty) &&
                                              !loginForm.get('password').valid }">
            <label class="col-md-4 control-label" for="passwordId2">Password</label>

            <div class="col-md-7">
                <input class="form-control" id="passwordId2" type="password" placeholder="password (required)" formControlName="password" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                <span>
                            <button class="btn btn-primary"
                                    type="submit"
                                    [disabled]="!loginForm.valid">
                                Login
                            </button>
                        </span>

            </div>
        </div>
    </fieldset>
</form>