<!-- <a *ngIf="!isLoggedIn" (click)="toggleLogin()">go to {{showLogin?"Register":"Login"}}</a>
<app-login [hidden]="!showLogin" *ngIf="!isLoggedIn" (loginParam)="fromLoginPage($event)"></app-login>
<app-register [hidden]="showLogin" *ngIf="!isLoggedIn" (loginParam)="fromLoginPage($event)"></app-register> -->



<div class="container">
    <div class="row" *ngIf="!isLoggedIn">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a (click)="toggleLogin()" [ngClass]="{'active':showLogin}" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a (click)="toggleLogin()" [ngClass]="{'active':!showLogin}" id="register-form-link">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <app-login [hidden]="!showLogin" *ngIf="!isLoggedIn" (loginParam)="fromLoginPage($event)"></app-login>
                            <app-register [hidden]="showLogin" *ngIf="!isLoggedIn" (loginParam)="fromLoginPage($event)"></app-register>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <router-outlet *ngIf="isLoggedIn" class="row">
    </router-outlet>



</div>







<spinner [spinner]="spinkit.skDoubleBounce" [backgroundColor]="'#337ab7'">
</spinner>